@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.521); 
    color: whitesmoke;
    width: 434px;

}

.sidebar nav {
    padding: 15px;


}

.sidebar nav li {
    padding: 30px 0;
    font-size: 25px;
    list-style: none;
}

.sidebar nav li a{
   text-decoration: none;
   color: white;
}

.main {
   
    width: 90vw;
}

.container {
    display: flex;
    
}

.infocontainer {
   /* background-color: blueviolet; */
    height: 60vh;
    width: 80vw;
    margin: 145px auto;
    display: flex;
    justify-content: space-around;
    font-family: "Source Code Pro", monospace;
}

.hello {
    font-size: 65px;
}

.name {
    font-size: 55px;
    font-weight: bold;
   
}

.about {
    font-size: 40px;
}
.moreabout{
    font-size: 22px;
    font-family:  sans-serif;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 17px;
    margin: 0 3px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: white;
    color: dodgerblue;
}
#sm{
    font-size: 17px;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devPic img {
    height: 60vh;
    width: 360px;
    border-radius: 50%;

}


.contactform{
    padding-top:144px ;
    padding-left: 34px;
    font-family:  sans-serif;
    margin-left: 40px;

}
.contactform h2{
    margin-bottom: 30px;
}

.contactform form div{
   padding: 10px;

}


#emailHelp{
    font-size: 11px;
    color: rgb(40, 171, 175);
    margin: 0 5px;
}

